<mat-nav-list>
  <ng-container *ngIf="questions && questions.length > 0; else empty">
    <ng-container *ngFor="let question of questions">
      <a mat-list-item [routerLink]="['/', question.questionId]">
        <img matListAvatar [src]="question.owner.profileImage" [alt]="question.owner.displayName" />

        <h4 matLine>{{ question.title }}</h4>
        <p matLine>{{ question.lastActivityDate | date }}</p>
      </a>

      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>

  <ng-template #empty>
    No questions found
  </ng-template>
</mat-nav-list>
